.product-box{
    /* padding-top: 30px; */
}
.product-box .product-item{
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    margin: 3px;
    border: 1px solid lightgray;
  }

.product-box .product-item .product_thumb a img{
    /*max-width: 100%;*/
} 

.product-box .product-item .product_thumb .primary_img img{
    display: block;
    opacity: 1;
    visibility: visible;
    pointer-events: none;
    width: 100%;
    transition: 1.5s;
    transform: scale(1);
}
.product-box .product-item:hover .product_thumb .primary_img img{
   
    transform: scale(1.2);
}
.product-box .product-item .product_thumb{
   overflow: hidden;
}
.product-box .product-item .product_thumb .secondary_img img{
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    /*transition: opacity 0.3s ease, visibility 0s linear 0.3s;*/
    width: 100%;
}

.product-box .product-item .label_product {
    position: absolute;
    top: 5px;
    right: 0;
    width: 80px;
    text-align: center;
    height: 25px;
    background: #e6006bb5;
    border-radius: 20px 5px 5px 20px;
}
.product-box .product-item .label_product span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
}
.product-box .product-item .action_links {
    transition: all 0.3s ease;
    position: absolute;
    right: 20px;
    top: 20px;
}
.product-box .product-item .action_links ul {
    list-style: none;
    visibility: hidden;
    opacity: 0;
}

.product-box .product-item:hover .action_links ul {
    visibility: visible;
    opacity: 1;
}
.product-box .product-item .action_links ul li a {
    color: #333;
    background: #fff;
    display: inline-block;
    font-size: 15px;
    border-radius: 100%;
    border: 1px solid #ededed;
    line-height: 34px;
    height: 36px;
    width: 36px;
    cursor: pointer;
    text-transform: capitalize;
    text-align: center;
}
.product-box .product-item .action_links ul li:hover a {
    border-color: #fdb813;
    background: #fdb813
}
.product-box .product-item .action_links ul li {
    margin-bottom: 10px;
    -moz-transform: scale3d(0, 0, 0);
    -webkit-transform: scale3d(0, 0, 0);
    -o-transform: scale3d(0, 0, 0);
    -ms-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*.product-box .product-item:hover .action_links ul li {*/
/*    -moz-transform: scale3d(1, 1, 1);*/
/*    -webkit-transform: scale3d(1, 1, 1);*/
/*    -o-transform: scale3d(1, 1, 1);*/
/*    -ms-transform: scale3d(1, 1, 1);*/
/*    transform: scale3d(1, 1, 1);*/
/*}*/
@media (max-width: 992px) {
    .product-box .product-item .action_links ul {
        visibility: visible;
        opacity: 1;
    }
    .product-box .product-item .action_links ul li{
        -moz-transform: scale3d(1, 1, 1);
        -webkit-transform: scale3d(1, 1, 1);
        -o-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}
.product-box .product-item .product_content {
    padding: 5px 5px;
    background-color: #fff;
}
.product-box .product-item .product_content h4 {
    line-height: 20px;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    min-height: 44px;
    
}
.product-box .product-item .product_content h4 a{
    text-decoration: none;
    color: var(--black);
}
.product-box .product-item .product_content h4 a:hover {
    color: #fdb813;
}
.product-box .product-item .product_content .price_box {
    display: flex;
    padding-bottom: 15px;
}
.product-box .product-item .product_content .price_box span.current_price {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}
.product-box .product-item .product_content .price_box span.old_price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
    color: #000;
}
@media (ax-width: 875px)
{
    .product-box .product-item .product_thumb {
        min-height: 230px;
        background: rgb(255 255 255);
    }
}
@media (min-width: 875px)
{
    .product-box .product-item .product_thumb {
        min-height: 235px;
        background: rgb(255 255 255);
    }
}
@media (min-width: 1100px)
{
    .product-box .product-item .product_thumb {
        min-height: 240px;
        background: rgb(255 255 255);
    }
}
@media(min-width: 1400px){
    .product-box .product-item .product_thumb{
        /*min-height: 275px;*/
        background: rgb(255 255 255);
    } 
}

/* start here */

.product-item .product_content h4 {
    line-height: 20px;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    min-height: 44px;
}
.product-item .label_product {
    position: absolute;
    top: 5px;
    right: 0;
    width: 80px;
    text-align: center;
    height: 25px;
    background: #0f134f;
    border-radius: 20px 5px 5px 20px;
}

.product-item .label_product span {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    display: block;
}

.product-item .product_content .price_box span.old_price {
    text-decoration: line-through;
    font-weight: 400;
    font-size: 14px;
    margin-left: 10px;
}
         
.product-item .product_content h4 {
    line-height: 20px;
    display: block;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 0;
    min-height: 44px;
}

.product-item .product_content .price_box span.current_price {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}

.sizes .size {
        padding: 5px;
        margin: 5px;
        border: 1px solid #FE9017;
        width: auto;
        text-align: center;
        cursor: pointer;
        min-width: 45px;
        display: inline-block;
     }
     .sizes .size.active{
        background: #1F8B40;
        color: white;
        font-weight: bold;
     }
     
    .colors .color {
        padding: 5px;
        margin: 5px;
        border: 1px solid #FE9017;
        width: auto;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        height: 35px;
        width: 35px;
        border-radius: 50%;
    }
    
    
    .colors .color.active{
        background: #0d6efd;
        color: white;
        font-weight: bold;
        padding: 3px;
        border: 4px solid white;
        outline: 2px solid red;
    }

     .inner_div i {
     margin-right: 5%;
     }
     .call_text {
     text-align: center;
     }
     .qty-btn-box {
     padding-left: 0px !important;
     }
     .first {
     background: #3167EB;
     border-radius: 5px;
     padding: 10px 43px;
     margin-bottom: 10px;
     margin-right: 5px;
     }
     .second {
     background:#FE9017;
     border-radius: 5px;
     padding: 10px 43px;
     margin-bottom: 10px;
     margin-right: 5px;
     }
     
     .product-item {
                transition: box-shadow 0.5s !important;
            }
            
            .product-item:hover {
                box-shadow: 0px 2px 13px -3px gray !important;
            }
         .product-item .product_content .button {
    height: 40px;
    width: 100%;
    text-align: center;
    overflow: hidden;
    /* background-color: #ff7400 !important; */
    cursor: pointer;
}
    .product-item .product_content button {
    position: relative;
    height: 40px;
    line-height: 20px;
    padding: 0 18px;
    display: block;
    border-radius: 0px;
    font-weight: 700;
    font-size: 14px;
    color: var(--color-white);
    background-color: #fe045b;
    transition: .3s;
    box-shadow: 0 16px 32px 0 rgb(0 0 0 / 6%);
    position: relative;
    z-index: 1;
}

.product-item .product_content .button p {
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 9px;
    font-size: 13px;
    transition: 0.5s;
    color: #00276C;
}

.product-item .product_content .button:hover p {
    height: 55px;
    text-align: center;
    padding-top: 10px;
    font-size: 13px;
    margin-top: -68px;
    transition: 0.5s;
}

.product-item .product_content .button span {
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    transition: 0.5s;
    color: white;
    padding: 20px;
}
.product-item .product_content .button:hover span {
    height: 40px;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    margin-top: -40px;
    transition: 0.5s;
}
        
/*Start Here*/

.product-short-info {
    margin-bottom: 0px;
}

.product-info-table tbody {
    display: flex;
    flex-wrap: wrap;
}
    
.product-info-table tbody tr {
    margin: 0 7px 7px -2px;
    background: #fff;
    border-radius: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
}





@media only screen and (min-width: 320px) and (max-width: 370px) {
   .label_product {
        width: 63% !important;
    } 
}
         
           @media (min-width: 1024px){
             .prodCatcus{
               	  /*background: rgb(255 153 0);*/
                  border-radius: 0px;
                  border-top-right-radius: 70px;
                  width: 100%;
                  padding: 0px;
                  margin: 0px;
             	}
             	
               .carousel-item img{
                   height: 600px;
               }
               
               .left_side_img {
                   height: 400px;
               }
               
               .select2-container--default .select2-selection--single {
                   height: 40px;
               }
               
               .select2-container--default .select2-selection--single .select2-selection__rendered {
                   line-height: 40px;
                   font-size: 13px;
               }
               
               .select2-container--default .select2-selection--single .select2-selection__arrow {
                   top: 7px;
                }
               
               .select2-container{
                   width: 100% !important;
                }
             
             .prd_img{
             	margin-bottom: -20px !important;
             }
           }
           
           
           
           @media only screen and (min-width: 250px) and (max-width: 319px) {
             .prodCatcus{
               	  background: rgb(255 153 0);
                  border-radius: 0px;
                  border-top-right-radius: 70px;
                  width: 24%;
                  padding: 0px;
                  margin: 0px;
             	}
               .col-lg-3 {
                   width: 100% !important;
                    margin-left: 0% !important;
               }
               .col-lg-9 {
                   padding-right: 0px !important;
               }
               .select2-container {
                   width: 70% !important;
               }
               
               .left_side_img img{
                  height: auto !important; 
               }
             
             .left_side_img{
             		display:none
             	}
             
             .prd_img{
             	margin-bottom: -20px !important;
             }
             
             .sidebar-filter{
              	display: none;
              }
               
            }
            
            @media only screen and (min-width: 367px) and (max-width: 385px) {
                .semi {
                    font-size: 13px !important;
                }
            }
            
            @media only screen and (min-width: 328px) and (max-width: 391px) {
                .owl-item .product-item .product_content h4 {
                    line-height: 12px !important;
                    font-size: 0px !important;
                }
                .font-14 {
                    font-size: 11px !important;
                }
                .semi {
                    font-size: 11px !important;
                }
                .product-box .product-item .product_content .price_box span.current_price {
                    font-size: 13px !important;
                }
            }
           
           
           @media only screen and (min-width: 320px) and (max-width: 375px) {
               
             .prodCatcus{
               	  /*background: rgb(255 153 0);*/
                  border-radius: 0px;
                  border-top-right-radius: 70px;
                  width: 56%;
                  padding: 0px;
                  margin: 0px;
             	}
               .col-lg-3 {
                   width: 100% !important;
                    margin-left: 0% !important;
               }
               .select2-container {
                   width: 70% !important;
               }
               .left_side_img img{
                  height: auto !important; 
               }
             .primcusImg{
             	margin-left: 0% !important;
             }
             
             .seccusImg{
             	margin-left: 0% !important;
             }
             .bg-orange{
             		width: 40% !important;
               		height: 33px !important;
               		font-size: 12px !important;
             	}
             .slick-next .slick-arrow {
             	margin-top : -14px !important;
             	}
             	
             	.product_content {
             	    margin-top: 14% !important;
             	}
             
             header img {
                  height: 70px;
                  width: 220px;
                  padding-left: 0;
              }
             
             .left_side_img{
             		display:none
             	}
             
             .sidebar-filter{
              	display: none;
              }
              
              .semi {
                  font-size: 11px !important;
              }
              
              .product-box .product-item .product_content .price_box span.current_price {
             	    font-size: 13px !important;
             	}
             	
             	.product-box .product-item .product_content h4 {
             	    min-height: 30px !important;
             	}
             
            }
            @media only screen and (min-width: 376px) and (max-width: 450px) {
            
                .product_content {
                    margin-top: 6% !important;
                }
                
              .prodCatcus{
               	  /*background: rgb(255 153 0);*/
                  border-radius: 0px;
                  border-top-right-radius: 70px;
                  width: 56%;
                  padding: 0px;
                  margin: 0px;
             	}
                .col-lg-3 {
                   width: 100% !important;
                    margin-left: 0% !important;
               }
               /*.col-lg-9 {*/
               /*    padding-right: 0px !important;*/
               /*}*/
               .select2-container {
                   width: 70% !important;
               }
               .left_side_img img{
                  height: auto !important; 
               }
              
              .prd_prc_bx{
              	margin-top: 0%;
              }
              
              .left_side_img{
             		display:none
             	}
              
              .prd_img{
             	margin-bottom: -20px !important;
             }
              
              .primcusImg{
              		margin-left: 0%;
              }
              
              .sidebar-filter{
              	display: none;
              }
              
            }
            
            @media only screen and (min-width: 451px) and (max-width: 575px) {
                .product_content {
                    margin-top: 1% !important;
                }
            }
         
         	 @media only screen and (min-width: 376px) and (max-width: 379px) {
            
               .primcusImg{
               			margin-left: 0%;
               }
               
               .sidebar-filter{
              	display: none;
              }
         	}
         
         @media only screen and (min-width: 768px) and (max-width: 900px) {
            
               .primcusImg{
               			/*margin-left: 15%;*/
               }
           
           		.sidebar-filter{
              	display: none;
              }
         	}
         
         
            
             @media only screen and (min-width: 576px) and (max-width: 991px) {
               .prodCatcus{
               	  /*background: rgb(255 153 0);*/
                  border-radius: 0px;
                  border-top-right-radius: 70px;
                  width: 24%;
                  padding: 0px;
                  margin: 0px;
             	}
               
                 .col-lg-3 {
                   width: 100% !important;
                    margin-left: 0% !important;
               }
               /*.col-lg-9 {*/
               /*    padding-right: 0px !important;*/
               /*}*/
               .select2-container {
                   width: 60% !important;
               }
               .left_side_img img{
                  height: auto !important; 
               }
               
               .prd_img{
             	margin-bottom: -20px !important;
             }
               
               .sidebar-filter{
              	display: none;
              }
               
               .primcusImg{
              	/*margin-left: 25% ;	*/
              }
               
             }
            
            @media only screen and (min-width: 992px) and (max-width: 1348px) {
              .prodCatcus{
               	  /*background: rgb(255 153 0);*/
                  border-radius: 0px;
                  border-top-right-radius: 70px;
                  width: 24%;
                  padding: 0px;
                  margin: 0px;
             	}
              
                .col-lg-3 {
                   width: 24% !important;
                   margin-left: 1% !important;
               }
               .col-lg-9 {
                   width: 75% !important;
                   padding-right: 0px !important;
               }
            }
            
    
    		@media only screen and (min-width: 376px) and (max-width: 575px) {
              .primcusImg{
              	/*margin-left: 15%;	*/
              }
              .sidebar-filter{
              	display: none;
              }
    		}
            
            @media only screen and (min-width: 378px) and (max-width: 412px) {
                .bg-orange{
                    font-size: 8px !important;
                }     
              
                .prd_prc_bx{
              		padding-bottom: 6px !important;
                	margin-top:0% !important;
                 }
              
            }
            
            .product-item {
                transition: box-shadow 0.5s !important;
                border: 1px solid lightgray;
            }
            
            .product-item:hover {
                box-shadow: 0px 2px 13px -3px gray !important;
            }
            
            @media only screen and (min-width: 1084px) and (max-width: 1141px) {
                .product_content a {
                    font-size: 14px !important;
                }
            }
            
             @media only screen and (min-width: 992px) and (max-width: 1083px) {
                .product_content a {
                    font-size: 12px !important;
                }
            }
            
            @media only screen and (min-width: 768px) and (max-width: 856px) {
                .product_content a {
                    font-size: 12px !important;
                }
            }
            
            @media only screen and (min-width: 576px) and (max-width: 643px) {
                .product_content a {
                    font-size: 13px !important;
                }
            }
            
            @media only screen and (min-width: 367px) and  (max-width: 575px) {
                
                .col-md-3 {
                    /*width: 100% !important;*/
                }
                .testslide-image img {
                    margin: 0 auto;
                }
                .thumbnail-container {
                    margin-left: 7% !important;
                }
                
            }
            
            @media only screen and (min-width: 1500px) and (max-width: 2000px) {
        .main-section {
            width: 1500px !important;
        }
    }
    
    @media only screen and (min-width: 2001px) and (max-width: 2600px) {
        .main-section {
            width: 1500px !important;
        }
    }
            
    /*.product-box .product-item {*/
    /*    margin: 0 !important;*/
    /*    margin-bottom: 20px !important;*/
    /*}*/
       
   .slick-arrow {
   display: none !important;
   }
   
   #myTabs li a {
   padding: 8px 9px;
   }
   #myTabs li {
   padding: 2px;
   }

   /* Styles for the slider container */
   .slider-container {
   width: 100%;
   overflow: hidden;
   position: relative;

   }
   /* Styles for the big image */
   .slider-image {
    width: 88%;
    height: auto;
    display: block;
   }
   /* Styles for the mini image thumbnails */
   .thumbnail-container {
        justify-content: center;
        width: 93%;
   }
   .thumbnail {
   width: 50px;
   height: 50px;
   margin: 5px;
   cursor: pointer;
   }

   iframe{
       width: 100%;
   }

   @media only screen and (min-width: 320px) and (max-width: 375px) {
       iframe {
           width: 100% !important;
           height: 220px !important;
       }
   }

   @media only screen and (min-width: 376px) and (max-width: 425px) {
       iframe {
           width: 100% !important;
           height: 250px !important;
       }
   }

   @media only screen and (min-width: 426px) and (max-width: 500px) {
       iframe {
           width: 100% !important;
           height: 260px !important;
       }
   }

   .testslide-image {
       margin-left: 10px;
       margin-top: 10px;
   }

   .img-thumbnail:hover {
       box-shadow: 0px 0px 10px -4px green !important;
   }
   .img-thumbnail {
       box-shadow: 0px 0px 10px -4px gray !important;
   }
   .testslide-image img {
       box-shadow: 3px 4px 13px -3px gray !important;
   }
   .testslide-image img:hover {
       box-shadow: 0px 2px 13px -3px green !important;
   }

   .accordion-body .btn-info {
       background: #1F8C40 !important;
   }
     
     
     
     
     @media only screen and (max-width: 575px) {
     .social_btn {
     display: inline-grid !important;
     width: 100% !important;
     }
     .add_cart{
         width: 100% !important;
         margin-bottom: 3% !important;
         padding: 5% !important;
     }
     .buy_now {
     width: 100% !important;
     }
     }

    .toast-message {
        color: #ffffff !important;
    }
    #toast-container {
        background: #032BB9 !important;
        padding: 0px;
    }

    #toast-container>.toast-error {
        background-color: transparent !important;
    }

         
    @media(min-width: 1360px){
    .popup-link img{
    /*max-height: 450px;*/
    /*margin: auto;*/
    }
    }
    .product-slider-nav .slick-slide img{
    max-height: 80px;
    margin:auto;
    }
    .regular ul {
    list-style: none;
    padding-left: 0px !important;
    }
    .regular ul li {
    padding-left: 0px !important;
    line-height: 1.5;
    }
    .regular ul li::before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    background-image: url({{ asset('frontend/images/star.png') }});
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    }

